.flexContainer {
    box-sizing: border-box;
    margin: 16px 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.gridContainer {
    display: grid;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    column-gap: 0.5rem;
    grid-template-columns: repeat(18, 1fr);
    padding: 1rem;
    background: black;
}
.bigGrid{
    grid-column: span 6 !important;
}

.gridContainer span:nth-child(1){
    grid-column: span 1 !important;
}

.gridContainer span:nth-child(5){
    grid-column: span 3 !important;
}


.gridContainer span, .itemsContainer span{
    display: block;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    font-size: 0.875rem;
    color: white;
    grid-column: span 2;
}
.itemsContainer {
    display: grid;
    position: relative;
    border-radius: 0px;
    column-gap: 0.5rem;
    grid-template-columns: repeat(18, 1fr);
    padding: 1rem;
}
