/* =========== Google Fonts ============ */

/* =============== Globals ============== */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0C0C0C;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--blue) !important;
}

ol, ul {
  list-style: none;
  outline: none;
  padding-left: 0 !important;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

.scrollableDiv {
  position: relative;
  padding: 0px 30px;
  overflow: auto;
  height: 85vh;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  left: 250px;
  background: var(--white);
  transition: 0.5s;
  height: 95vh;
  margin-top: 20px;
  border-radius: 25px;
  overflow: auto;
  width: calc(100% - 250px);
}

.main.active {
  left: 80px;
  width: calc(100% - 80px);
}

.bigmain {
  width: calc(100% - 250px);
}

.smallmain {
  width: calc(100% - 80px);
}

.customToolbarBtn {
  justify-content: flex-end;
}
.customBtn {
  outline: none !important;
  color: white  !important;
  background-color: var(--blue) !important;
  border: 1px solid var(--blue) !important;
  min-width: 150px;
}
.outlinedCustomBtn {
  background-color: transparent !important;
  color: var(--blue) !important;
  border: 1px solid var(--blue) !important;
  min-width: 150px;
}

.react-datepicker__portal .react-datepicker {
  transform: scale(1.5);
  transform-origin: center;
}

td {
  vertical-align: middle !important;
}
.react-datepicker__year .react-datepicker__year-text {
  width: 3.5rem !important;
}
@media only screen and (max-width: 1024px) {
 .react-datepicker-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: calc(100% - 80px);
  }

  .main.active {
    width: 100%;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .customToolbarBtn {
    justify-content: center;
  }
}

